@charset "utf-8";
.screen09{
    position: relative;
    overflow: hidden;
    .image{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        max-width: none;
        bottom: 0;
        @include SP{
            width: 120%;
        }
        @include Tablet{
            width: 110%;
        }
    }
    .form-button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include SP{
            bottom: 24vh;
        }
        @include Tablet{
            bottom: 33vh;
        }
        @include landscape{
            bottom: 60vh;
        }
    }
}

