@font-face {
  font-family: '#9Slide03 SVNNexa Rust Sans Bla';
  src: url("/assets/fonts/9Slide03SVN-NexaRustSansBlack.eot");
  src: url("/assets/fonts/9Slide03SVN-NexaRustSansBlack.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/9Slide03SVN-NexaRustSansBlack.woff2") format("woff2"), url("/assets/fonts/9Slide03SVN-NexaRustSansBlack.woff") format("woff"), url("/assets/fonts/9Slide03SVN-NexaRustSansBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* MEDIA QUERIES
 * -----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  color: white;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: calc(100vw / 3.75);
  }
}

@media print, (min-width: 768px) {
  html {
    font-size: calc(100vw / 19.20);
  }
}

body {
  font-family: "#9Slide03 SVNNexa Rust Sans Bla", Arial, Helvetica, sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: .12rem;
  }
}

@media print, (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

input, textarea {
  font-size: 16px;
}

@media print, (min-width: 768px) {
  input, textarea {
    font-size: 14px;
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

b, strong, em {
  font-weight: bold;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

.logo {
  position: absolute;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

@media print, (min-width: 768px) {
  .logo {
    width: 5.4rem;
    top: 0.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 1.35rem;
    top: 0.15rem;
  }
}

.camera {
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .camera {
    width: 0.42rem;
    height: 0.42rem;
    bottom: 0.3rem;
    right: 0.15rem;
  }
}

@media print, (min-width: 768px) {
  .camera {
    width: 1.8rem;
    height: 1.8rem;
    bottom: 01rem;
    right: 0.3rem;
  }
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .menu {
    padding: 0.15rem 0.15rem;
  }
}

@media print, (min-width: 768px) {
  .menu {
    padding: 0.4rem 0.3rem;
  }
}

.menu-button {
  background: white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .menu-button {
    width: 0.42rem;
    height: 0.42rem;
  }
}

@media print, (min-width: 768px) {
  .menu-button {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.menu-icon {
  max-height: 60%;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .list .menu-icon {
    margin-left: -0.03rem;
    margin-top: -0.01rem;
  }
}

@media print, (min-width: 768px) {
  .list .menu-icon {
    margin-left: -0.1rem;
    margin-top: -0.01rem;
  }
}

@media only screen and (max-width: 767px) {
  .logout .menu-icon {
    margin-left: -0.03rem;
    margin-top: 0.01rem;
  }
}

@media print, (min-width: 768px) {
  .logout .menu-icon {
    margin-left: -0.15rem;
    margin-top: 0.1rem;
  }
}

.form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-title {
  color: #ed1c24;
  text-align: center;
}

.form-group {
  text-align: center;
  width: 100%;
}

.form-group:not(:last-child) {
  margin-bottom: 4vh;
}

.form-control {
  width: 100%;
  max-width: 70%;
  background: white;
  border: 0.05rem solid #f0b544;
  border-radius: 200px;
  color: #f4783d;
  line-height: 1.5;
  font-family: '#9Slide03 SVNNexa Rust Sans Bla', Arial, Helvetica, sans-serif;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .form-control {
    padding: 0.18rem 0.2rem;
    font-size: 0.13rem;
  }
}

@media print, (min-width: 768px) {
  .form-control {
    padding: 0.6rem 1rem;
    font-size: 0.65rem;
    border-width: 0.25rem;
  }
}

.form-button {
  background: #f6881f;
  border: 0.03rem solid white;
  border-radius: 200px;
  color: white;
  line-height: 1.5;
  font-family: '#9Slide03 SVNNexa Rust Sans Bla', Arial, Helvetica, sans-serif;
  margin-left: auto;
  outline: none;
  margin-right: auto;
}

@media only screen and (max-width: 767px) {
  .form-button {
    padding: 0.1rem 0.4rem;
    font-size: 0.13rem;
    text-shadow: 0.01rem 0 0 rgba(255, 255, 255, 0.4);
  }
}

@media print, (min-width: 768px) {
  .form-button {
    padding: 0.3rem 2rem;
    font-size: 0.6rem;
    border-width: 0.15rem;
    text-shadow: 0.05rem 0 0 rgba(255, 255, 255, 0.4);
  }
}

@media only screen and (max-width: 767px) {
  .form-button-small {
    padding: 0.05rem 0.2rem;
    font-size: 0.1rem;
    border-width: 0.02rem;
  }
}

@media print, (min-width: 768px) {
  .form-button-small {
    padding: 0.1rem 1rem 0.18rem;
    font-size: 0.4rem;
    border-width: 0.12rem;
  }
}

.form ::-webkit-input-placeholder {
  font-family: '#9Slide03 SVNNexa Rust Sans Bla', Arial, Helvetica, sans-serif;
  color: #f4783d;
}

.form :-ms-input-placeholder {
  font-family: '#9Slide03 SVNNexa Rust Sans Bla', Arial, Helvetica, sans-serif;
  color: #f4783d;
}

.form ::-ms-input-placeholder {
  font-family: '#9Slide03 SVNNexa Rust Sans Bla', Arial, Helvetica, sans-serif;
  color: #f4783d;
}

.form ::placeholder {
  font-family: '#9Slide03 SVNNexa Rust Sans Bla', Arial, Helvetica, sans-serif;
  color: #f4783d;
}

@media only screen and (max-width: 767px) {
  .form ::-webkit-input-placeholder {
    font-size: 0.13rem;
  }
  .form :-ms-input-placeholder {
    font-size: 0.13rem;
  }
  .form ::-ms-input-placeholder {
    font-size: 0.13rem;
  }
  .form ::placeholder {
    font-size: 0.13rem;
  }
}

@media print, (min-width: 768px) {
  .form ::-webkit-input-placeholder {
    font-size: 0.65rem;
  }
  .form :-ms-input-placeholder {
    font-size: 0.65rem;
  }
  .form ::-ms-input-placeholder {
    font-size: 0.65rem;
  }
  .form ::placeholder {
    font-size: 0.65rem;
  }
}

.form-icon {
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .form-icon {
    padding-left: 0.48rem;
    background-position: 0.17rem center;
    background-size: 0.2rem;
  }
}

@media print, (min-width: 768px) {
  .form-icon {
    padding-left: 2.4rem;
    background-position: 0.9rem center;
    background-size: 1rem;
  }
}

.form-icon.icon-user {
  background-image: url(/assets/image/icon_user.png);
}

.form-icon.icon-phone {
  background-image: url(/assets/image/icon_phone.png);
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.form-checkbox {
  display: none;
}

.screen {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../image/SVG/bg.svg);
}

@media (orientation: landscape) {
  .screen {
    width: 100vw;
    height: 140vw;
  }
}

.screen01 {
  position: relative;
  overflow: hidden;
}

.screen01 .image {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  max-width: none;
}

@media only screen and (max-width: 767px) {
  .screen01 .image {
    bottom: 1.3vh;
    width: 120%;
  }
}

@media print, (min-width: 768px) {
  .screen01 .image {
    width: 115%;
    bottom: 2vh;
  }
}

.screen02 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .screen02 .form {
    margin-top: 0.2rem;
    padding-bottom: 0.3rem;
  }
}

@media print, (min-width: 768px) {
  .screen02 .form {
    margin-top: 0.6rem;
    padding-bottom: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .screen02 .form-title {
    font-size: 0.28rem;
    margin-bottom: 0.4rem;
    text-shadow: 0.025rem 0 0 rgba(240, 181, 68, 0.8);
  }
}

@media print, (min-width: 768px) {
  .screen02 .form-title {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    text-shadow: 0.15rem 0 0 rgba(240, 181, 68, 0.8);
  }
}

.screen02 .form-button {
  margin-top: auto;
}

.screen03 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .screen03 .form {
    margin-top: 0.2rem;
    padding-bottom: 0.3rem;
  }
}

@media print, (min-width: 768px) {
  .screen03 .form {
    margin-top: 0.6rem;
    padding-bottom: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .screen03 .form-title {
    font-size: 0.28rem;
    margin-bottom: 0.4rem;
    text-shadow: 0.025rem 0 0 rgba(240, 181, 68, 0.8);
  }
}

@media print, (min-width: 768px) {
  .screen03 .form-title {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    text-shadow: 0.15rem 0 0 rgba(240, 181, 68, 0.8);
  }
}

.screen03 .form-button {
  margin-top: auto;
}

.screen03 .form-button-small {
  text-shadow: 1px 1px 1px #fab89d, 1px -1px 1px #fab89d, 2px 2px 1px #fab89d;
}

.screen03 .form-button.orange {
  background: #fbae32;
}

.screen03 .form-button.yellow {
  background: #fae039;
}

.screen03 .form-button.green {
  background: #d0dd28;
}

.screen03 .form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen03 .form-col img {
  width: 4rem;
  height: auto;
}

.screen03 .form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.screen03 .form-checkbox {
  display: block;
  background: white;
  border: 0.02rem solid #f0b544;
  text-align: center;
  color: #f4783d;
}

@media only screen and (max-width: 767px) {
  .screen03 .form-checkbox {
    width: 0.25rem;
    height: 0.25rem;
    margin-top: 10px;
    font-size: 0.1rem;
  }
}

@media print, (min-width: 768px) {
  .screen03 .form-checkbox {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 20px;
    font-size: 0.5rem;
  }
}

.screen03 .note {
  font-family: '#9Slide03 SVNNexa Rust Sans Bla', Arial, Helvetica, sans-serif;
  color: #f4783d;
}

@media only screen and (max-width: 767px) {
  .screen03 .note {
    font-size: 0.13rem;
  }
}

@media print, (min-width: 768px) {
  .screen03 .note {
    font-size: 0.65rem;
  }
}

.screen03 ~ canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.screen04 {
  position: relative;
  overflow: hidden;
}

.screen04 .image {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  max-width: none;
}

@media only screen and (max-width: 767px) {
  .screen04 .image {
    width: 120%;
    bottom: 1vh;
  }
}

@media print, (min-width: 768px) {
  .screen04 .image {
    width: 115%;
    bottom: 0;
  }
}

.screen06 {
  position: relative;
  overflow: hidden;
}

.screen06 .image {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  max-width: none;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .screen06 .image {
    width: 120%;
  }
}

@media print, (min-width: 768px) {
  .screen06 .image {
    width: 110%;
  }
}

.screen06 .form-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .screen06 .form-button {
    padding-bottom: 0.13rem;
    padding-top: 0.1rem;
    top: 70vh;
  }
}

@media print, (min-width: 768px) {
  .screen06 .form-button {
    padding-bottom: 0.6rem;
    padding-top: 0.5rem;
    top: 60vh;
  }
}

@media (orientation: landscape) {
  .screen06 .form-button {
    top: 75vh;
  }
}

.screen07 {
  position: relative;
  overflow: hidden;
}

.screen07 .image {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  max-width: none;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .screen07 .image {
    width: 120%;
  }
}

@media print, (min-width: 768px) {
  .screen07 .image {
    width: 110%;
  }
}

.screen07 .form-button {
  white-space: nowrap;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 767px) {
  .screen07 .form-button {
    width: 1.6rem;
    margin: 0 0.1rem;
  }
}

@media print, (min-width: 768px) {
  .screen07 .form-button {
    width: 8rem;
    margin: 0 0.2rem;
  }
}

.screen07 .form-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .screen07 .form-button-group {
    top: 70vh;
  }
}

@media print, (min-width: 768px) {
  .screen07 .form-button-group {
    top: 66vh;
  }
}

@media (orientation: landscape) {
  .screen07 .form-button-group {
    top: 118vh;
  }
}

.wheel {
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .wheel {
    top: 28vh;
  }
}

@media print, (min-width: 768px) {
  .wheel {
    top: 8vh;
  }
}

@media (orientation: landscape) {
  .wheel {
    top: 23vh;
  }
}

.wheel-pin {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .wheel-pin {
    width: 0.5rem;
    top: 6.2vh;
  }
}

@media print, (min-width: 768px) {
  .wheel-pin {
    width: 2.5rem;
    top: 11vh;
  }
}

@media (orientation: landscape) {
  .wheel-pin {
    width: 2rem;
    top: 18vh;
  }
}

.screen08 {
  position: relative;
  overflow: hidden;
}

.screen08 .image {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  max-width: none;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .screen08 .image {
    width: 120%;
  }
}

@media print, (min-width: 768px) {
  .screen08 .image {
    width: 110%;
  }
}

.screen09 {
  position: relative;
  overflow: hidden;
}

.screen09 .image {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  max-width: none;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .screen09 .image {
    width: 120%;
  }
}

@media print, (min-width: 768px) {
  .screen09 .image {
    width: 110%;
  }
}

.screen09 .form-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .screen09 .form-button {
    bottom: 24vh;
  }
}

@media print, (min-width: 768px) {
  .screen09 .form-button {
    bottom: 33vh;
  }
}

@media (orientation: landscape) {
  .screen09 .form-button {
    bottom: 60vh;
  }
}
